.wrapper {
    width: 1366px;
    height: 768px;
}

.left {
    float: left;
    width: 251px;
    height: 768px;
    background-color: #fdfdff;
    box-shadow: 0px 2px 13px 0px rgba(173, 173, 173, 0.31);
}

.right {
    float: right;
    width: 1110px;
    height: 768px;
    background-color: #ffffff;

}

.right .top {
    float: left;
    margin-left: 20px;
    margin-top: 49px;
    width: 1058px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 13px 0px rgba(173, 173, 173, 0.31);
    border-radius: 6px;
}

.right .top .tool {
    margin: 17px;
    width: 1024px;
    padding: 19px 0 0 19px;
    height: 66px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
}

.right .top .tool .class-info {
    float: left;
}

.right .top .tool .class-info span {
    margin-right: 12px;
    font-size: 12px;
    color: #505359;
}

.right .top .tool .class-info select {
    margin-right: 45px;
    width: 175px;
    height: 27px;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    font-size: 12px;
    color: #505359;
}

.right .top .tool .class-info input[type="text"] {
    width: 187px;
    height: 27px;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
}

.right .top .tool .class-info input[type="submit"] {
    margin-left: 9px;
    width: 50px;
    height: 26px;
    background-color: #4286ef;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.right .top .tool .class-info input[type="submit"]:active {
    background-color: #2966c2;
}

.right .top .tool .actions {
    float: right;
    margin-right: 63px;
}

.right .top .tool .actions::before {
    content: '|';
    color: #dbdbdb;

}

button.export {
    margin-left: 24px;
    width: 50px;
    height: 27px;
    background-color: #febb48;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    outline: none;

}

button.export:active {
    background-color: #c18929;
}

button.import {
    margin-left: 24px;
    width: 50px;
    height: 27px;
    background-color: #27c850;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    outline: none;
}

button.import:active {
    background-color: #189136;
}

/* 新增 */

button.add {
    margin-left: 24px;
    width: 50px;
    height: 27px;
    background-color: #b184f1;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    outline: none;
}


button.del {
    margin-left: 20px;
    width: 80px;
    height: 27px;
    background-color: #ea423c;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    outline: none;
}

button.del:active {
    background-color: #c72c26;
}

.right .bottom {
    float: left;
    margin-left: 20px;
    margin-top: 27px;
    width: 1058px;
    height: 551px;
    background-color: #ffffff;
    box-shadow: 0px 2px 13px 0px rgba(173, 173, 173, 0.31);
    border-radius: 6px;
}

.right .bottom table {
    margin-top: 18px;
    margin-left: 18px;
    border-collapse: collapse;
    width: 1027px;
    /* border-radius: 10px; */
    overflow: hidden;
}


.right .bottom table th {
    position: relative;
    padding: 10px;
    text-align: left;

    height: 48px;
    background-color: #fbfbfb;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    color: #3a454f;

}

.right .bottom table th::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 20px;
    background-color: #eaeaea;
    transform: translateY(-50%);
}

/* 设置第一个表头单元格的左侧边框 */
.right .bottom table th:first-child,
.right .bottom table td:first-child {
    text-align: center;
}

.right .bottom table th:first-child::before {
    display: none;
}

.right .bottom table td {
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #53565b;
}

/* 设置偶数行的背景色 */
.right .bottom table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.right .bottom table td .edit,
.right .bottom table td .delete {
    padding-left: 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: #27c850;
    background-color: transparent;

}


.pagination {
    float: right;
    margin-right: 10px;
    text-align: center;
    padding: 15px;
    height: 25px;
}

.pagination .info {
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 10px;
    font-size: 16px;
    color: #53565b;
}

.pagination .page {
    float: left;
}

.pagination button {
    padding: 5px 5px;
    margin: 2px;
    color: #53565b;
    border: none;
    background-color: transparent;
}

.pagination .page::before {
    content: '<';
    font-size: 16px;
    color: rgb(207, 207, 207);
}

.pagination .page::after {
    content: '>';
    font-size: 16px;
    color: grey;
}



.pagination .active {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 8px;
    margin: 2px;
    border-radius: 4px;

}

/* 侧边栏 */
.left {
    width: 251px;
    height: 768px;
    background-color: #fdfdff;
    box-shadow: 0px 2px 13px 0px rgba(173, 173, 173, 0.31);
}

.left .head {
    position: relative;
    float: left;

    width: 211px;
    height: 82px;
    background-image: url(../images/titlelogo.png);
    margin-top: 50px;
}

.left .head h2 {
    display: block;
    position: absolute;
    left: 90px;
    top: 27px;
    font-size: 20px;
    font-weight: 400;
    color: #464646;
}


.left .content {
    float: left;
    margin-top: 20px;

}

.left .content li {
    position: relative;
    padding-left: 42px;
    margin-bottom: 52px;
    margin-left: 4px;
}

.left .content li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 60%;
    transform: translateY(-50%);
    background-color: #27c850;
    display: none;
}

.left .content li:hover:before {
    display: block;
}

.left .content li span,
.left .user li span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #a3acb9;
}

.left .content li a,
.left .user li a {
    display: inline-block;
    margin-left: 18px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #a3acb9;
}

.left .content li:hover span,
.left .content li:hover a {
    color: #27c850;
}

.btn-danger {
    color: #f97e31;
}


.password-change {
    float: right;
    width: 1108px;
    height: 768px;
    
}

.password-change-form {
    margin-top: 234px;
    margin-left: 208px;
}


.password-change-form h2 {

    margin-bottom: 35px;
    font-size: 24px;
    color: #182235;
}

.password-change-form .form-group {
    margin-top: 19px;
}

.password-change-form .form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #67788d;
}

.password-change-form .form-group input {
    width: 353px;
    height: 38px;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
}

.password-change-form button {
    margin-top: 47px;
    width: 353px;
    height: 38px;
    background-color: #2a2b2c;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-change-form button:hover {
    background-color: #0dc05a;
}

.password-change-form .form-group input:hover {
    border: solid 1px #0dc05a;
}

.profile {
    position: relative;
    float: left;
    width: 100%; 
    text-align: center; 
    color:#27c850; 
    margin: 20px 0
}